.DS_Store
.Rdata
.Rhistory
*.pdf
*.html
data/~*.xlsx
SystemDesign*_files
SystemOperations*_files
*.aux
*.log
*.tex
*.toc
*.psd
deprecated_Rmd/
draw_node_files/
.Rproj.user
/.quarto/
_work/*
_output/*
System*.txt
mac_report.qmd
QTDublinIrish.otf
_extensions/*
InventoryManagement_files/